---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { siteConfig } from "@/config/site";
import Hero from "@/components/widgets/Hero.astro";
import Features from "@/components/widgets/Features.astro";
import devImg from "@/assets/images/dev_balanced.png";
import openSourceImg from "@/assets/images/open-source.png";
import Content2 from "@/components/widgets/Content2.astro";
import Content from "@/components/widgets/Content.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import Card from "@/components/ui/Card.astro";
const metadata = {
  title: `${siteConfig.name}`,
  description:
    "A modern and professional template for your web projects with Astro and Tailwind CSS. Boost your development with a solid foundation.",
  ignoreTitleTemplate: true,
};
---

<BaseLayout {metadata}>
  <Hero
    title={`
      Integrale modellering van het
      <br class="hidden md:block" />
      <span class="bg-clip-text text-transparent" style="color: var(--color-primary);">
          energiesysteem
      </span>
    `}
    description={`${siteConfig.description}`}
    actions={[
      {
        text: "Meer over het project",
        href: "/over-het-project",
        variant: "primary",
        icon: "lucide:notebook-text",
      },
      {
        text: "Resultaten",
        href: "/publicaties",
        variant: "secondary",
        icon: "lucide:chart-spline",
        ariaLabel: "Learn more about our services",
      },
    ]}
  />
</BaseLayout>
