---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { siteConfig } from "@/config/site";
import Hero from "@/components/widgets/Hero.astro";
import Features from "@/components/widgets/Features.astro";
import devImg from "@/assets/images/dev_balanced.png";
import openSourceImg from "@/assets/images/open-source.png";
import Content2 from "@/components/widgets/Content2.astro";
import Content from "@/components/widgets/Content.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import Card from "@/components/ui/Card.astro";
const metadata = {
  title: `${siteConfig.name}`,
  description:
    "A modern and professional template for your web projects with Astro and Tailwind CSS. Boost your development with a solid foundation.",
  ignoreTitleTemplate: true,
};
---

<BaseLayout {metadata}>
  <Content title="ISIE">
    <Paragraph>
      Het project ISIE wordt uitgevoerd in opdracht van Topsector Energie, het
      door de overheid gefinancierde programma voor onderzoek en innovatie op
      energiegebied, met financiering via RVO en de KGG-regeling.
    </Paragraph>

    <Paragraph>
      Het project is gestart in januari 2026 en heeft een looptijd van anderhalf
      jaar. Het hoofddoel is om te begrijpen waarom verschillende
      energiemodellen uiteenlopende antwoorden geven op dezelfde vragen, en deze
      verschillen met elkaar in lijn te brengen. Dit gebeurt in de context van
      energiebeleid en -optimalisatie, met een specifieke focus op
      flexibiliteit, infrastructuur en opslag.
    </Paragraph>

    <Paragraph>Het project kent drie subdoelstellingen.</Paragraph>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <Card>
        Ten eerste wordt er gewerkt aan standaardisatie van data-invoer en de
        beschrijving van flexibiliteitsmaatregelen, zodat de modellen op een
        uniforme basis werken.
      </Card>
      <Card
        >Ten tweede wordt er een modelketen opgebouwd waarmee vragen op
        verschillende schaalniveaus beantwoord kunnen worden;</Card
      >
      <Card
        >Ten derde worden concrete beleidsvragen beantwoord, waaronder de impact
        van dynamische en nodale prijsstelling, en het effect van verschillende
        adoptiegraden van flexibiliteit op het energiesysteem.</Card
      >
    </div>

    <Paragraph
      >Aan het project nemen zes bedrijven deel, waarvan er vijf eigen
      energiesimulatiemmodellen inbrengen.</Paragraph
    >
  </Content>
</BaseLayout>
